{% load pwa %} {% load static %} {% load cart_template_tags %}

<html lang="es">

<head>
    {% progressive_web_app_meta %}
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta content="ie=edge" http-equiv="X-UA-Compatible" />
    <link href="{% static 'css/FontAwesome/all.css' %}" rel="stylesheet" />

    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap.min.css"
        rel="stylesheet" />

    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.19.1/css/mdb.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="{% static 'css/Bootstrap/mdb.min.css' %}" />

    <link rel="stylesheet" href="{% static 'css/Bootstrap/style.css' %}" />
    <link href="{% static 'css/catalogo.css' %}" rel="stylesheet" />
    <link rel="shortcut icon" type="image/png" href="{% static 'img/icon/favicon.ico' %}" />
    <title>Usuarios</title>
</head>

<body class="fondo">
    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-white">
            <div class="container">
                <a class="navbar-brand" href="#">
                    <img src="{% static 'img/LavoMas.png' %}" class="d-inline-block align-top logo rounded" alt="" />
                </a>
                <!-- Collapse -->
                <button class="navbar-toggler" type="button" data-toggle="collapse"
                    data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="fas fa-bars"></span>
                </button>

                <!-- Links -->
                <div class="collapse navbar-collapse justify-content-center" id="navbarSupportedContent">
                    <!-- Left -->
                    <ul class="navbar-nav mr-auto">
                        {% if user.is_authenticated %}
                        <b class="my-3">¡Te damos la bienvenida!
                        </b>
                        {% endif %}
                    </ul>

                    <!-- Right -->
                    <ul class="navbar-nav nav-flex-icons">
                        {% if user.is_authenticated and user.is_staff %}
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'productos' %}">
                                <i class="fa fa-clipboard fa-lg ml-xl-3 text-center" style="width: 20px"></i>
                                <span>&nbsp;Inventario</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'punto_de_venta' %}">
                                <i class="fas fa-dollar-sign fa-lg ml-xl-3 text-center" style="width: 20px"></i>
                                <span>Ventas</span>
                            </a>
                        </li>
                        <!--
                                  <li class="nav-item">
                                      <a class="nav-link" href="{% url 'historial_ventas' %}">
                                          <i class="fa fa-history fa-lg ml-xl-3 text-center" style="width:20px;"></i>
                                          <span>Historial</span>
                                      </a>
                                  </li>
                                  -->
                        {% endif %}
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'log_in' %}">
                                <i class="fas fa-envelope fa-lg ml-xl-3" style="width: 20px"></i>
                                <span>&nbsp;Contacto</span>
                            </a>
                        </li>
                        {% if user.is_authenticated %}
                        <li class="nav-item">
                            <a class="nav-link text-center" href="{% url 'order-summary' %}">
                                <i class="fas fa-shopping-cart fa-lg text-center" style="width: 20px"></i>
                                <span class="clearfix d-sm-inline-block">&nbsp;Carrito</span>
                                <span class="badge red z-depth-1 mr-1">
                                    {{ request.user|cart_item_count }}
                                </span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="" data-toggle="modal" data-target="#modal_cerrar_sesion">
                                <i class="fas fa-sign-in-alt fa-lg text-center" style="width: 20px"></i>
                                <span>&nbsp;Salir</span>
                            </a>
                        </li>
                        {% else %}
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'sign_up' %}">
                                <i class="fas fa-user-plus fa-lg ml-xl-3 text-center" style="width: 20px"></i>
                                <span>&nbsp;&nbsp;Registrate</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'log_in' %}">
                                <i class="fas fa-sign-in-alt fa-lg ml-xl-3" style="width: 20px"></i>
                                <span>&nbsp;Ingresar</span>
                            </a>
                        </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </nav>

        <!-- Intro -->
        <div class="card card-intro blue-gradient border-0">
            <div class="card-body white-text rgba-black-light text-center">
                <!--Grid row-->
                <div class="row d-flex justify-content-center">
                    <!--Grid column-->
                    <div class="col-md-8">
                        <p class="h5 my-3">
                            ¡Debido a la contingencia se realizan ventas exclusivamente
                            en Osorno!
                        </p>
                        <p class="mb-0"></p>
                    </div>
                    <!--Grid column-->
                </div>
                <!--Grid row-->
            </div>
        </div>
        <!-- Intro -->
    </header>

    {% if messages %}
    <div class="container-fluid">
        <div class="row">
            <div class="col my-3 pt-4">
                {% for message in messages %}
                <div class="alert alert-dismissible alert-{{message.tags}} fade show" data-mdb-color="info"
                    role="alert">
                    {{ message }}
                    <button type="button" class="btn-close" data-mdb-dismiss="alert" aria-label="Close"></button>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
    {% endif %} {% block content %} {% endblock %} {% include "footer.html" %}

    <!-- Modal Cerrar Sesion -->
    <div class="modal fade" id="modal_cerrar_sesion" tabindex="-1" role="dialog" aria-labelledby="Label_cerrar_sesion"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header modal-header-primary">
                    <h5 class="modal-title" id="Label_cerrar_sesion">
                        ¿Volver a Login?
                    </h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">
                        Cancelar
                    </button>
                    <button type="button" onclick="CerrarSesion()" class="btn btn-primary">Aceptar</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Scripts -->
    {% include "scripts.html" %}

    <script language="JavaScript" type="text/javascript">
        let $ = jQuery.noConflict();
        let csrftoken = document.cookie.match('(^|;)\\s*' + 'csrftoken' + '\\s*=\\s*([^;]+)')
        csrftoken = csrftoken ? csrftoken.pop() : ''


        function CerrarSesion() {
      {%if user.is_authenticated %}
      window.location.replace("{% url 'log_out' %}"); 
      {%else %}
      window.location.replace("{% url 'log_in' %}"); 
      {% endif %}
    }
        // Animations initialization
        $(document).ready(function () {
            new WOW().init();
        });
    </script>
</body>

</html>