{% extends "base.html" %}
{% block content %}
{% load widget_tweaks %}


{% load static %}
<div class="container my-4">
    <!--Carousel Wrapper-->
    <div id="carousel-fade" class="carousel carousel-fade z-depth-1-half" data-ride="carousel" data-interval="4000">
        <!--Indicators-->
        <ol class="carousel-indicators">
            <li data-target="#carousel-fade" data-slide-to="0" class="active"></li>
            <li data-target="#carousel-fade" data-slide-to="1"></li>
        </ol>
        <!--/.Indicators-->
        <!--Slides-->
        <div class="carousel-inner" role="listbox">
            <!--First slide-->
            <div class="carousel-item active">
                <img class="d-block w-100" src="{% static 'img/hands-4903050_1280.jpg' %}" alt="Second slide">
            </div>
            <!--/First slide-->
            <!--Second slide-->
            <div class="carousel-item">
                <img class="d-block w-100" src="{% static 'img/clothesline-804812_1280.jpg' %}" alt="First slide">
            </div>
            <!--/Second slide-->
        </div>
        <!--/.Slides-->
        <!--Controls-->
        <a class="carousel-control-prev" href="#carousel-fade" role="button" data-slide="prev">
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carousel-fade" role="button" data-slide="next">
            <span class="sr-only">Next</span>
        </a>
        <!--/.Controls-->
    </div>

    <!--/.Carousel Wrapper-->
</div>


<!-- Products -->
<div class="container">
    <nav class="navbar navbar-dark my-3 py-3 rounded" style="background-color: #007bba;">
        <form class="input-group m-auto" method="get">
            {% render_field filter.form.titulo_producto class="form-control mr-3 w-75" placeholder="Buscar" %}
            <div class="input-group-append">
                <button class="btn btn-md btn-outline-light m-0 px-3 py-2 z-depth-0 waves-effect" type="submit"
                    id="button-addon2"><i class="fas fa-search fa-lg smooth-scroll list-unstyled"></i>
                </button>
            </div>
        </form>

    </nav>

    <div class="card-columns">

        {% for p in filter.qs %}

        <div class="card wow my-4 {% cycle 'fadeIn' 'bounceIn' 'rollIn' 'fadeInUp' 'zoomIn' 'rotateIn' %}">
            {% if p.imagen_producto %}
            <img class="card-img-top" src="{{ p.imagen_producto.url }}">
            {% else %}
            <img class="card-img-top" src="/media/no-disponible.png">
            {% endif %}
            <div class="card-body p-0 pb-2 text-center">
                <a href="#" class="text-muted">
                    <p class="bg-primary text-white p-2">{{ p.categoria }}</p>
                </a>
                <h5>
                    <a href="{{ p.get_absolute_url }}" class="fw-bold text-dark">
                        {{ p.titulo_producto }}
                    </a>
                </h5>

                <h4 class="card-title"><span class="badge badge-primary p-2">
                        {% if p.precio_descuento %}
                        {{ p.precio_descuento }}
                        {% else %}
                        {{ p.precio }}
                        {% endif %}
                    </span></h4>

                <a class="waves-effect btn btn-success rounded p-2" href="{{ p.get_add_to_cart_url }}">
                    <i class="fas fa-cart-plus fa-lg ml-xl-2"></i>
                    <span class="font">Agregar</span>
                </a>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

{% if not object_list %}
<br>
<div class="alert alert-primary" role="alert">
    Actualmente no hay productos a la venta :(
</div>
{% endif %}


<div class="row">
    <!--Pagination-->
    {% if is_paginated %}
    <nav class="d-flex justify-content-center">
        <ul class="pagination pg-blue">

            {% if page_obj.has_previous %}
            <li class="page-item">
                <a class="page-link" href="?page={{ page_obj.previous_page_number }}" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                    <span class="sr-only">Previous</span>
                </a>
            </li>
            {% endif %}

            <li class="page-item active">
                <a class="page-link" href="?page={{ page_obj.number }}">{{ page_obj.number }}
                    <span class="sr-only">(current)</span>
                </a>
            </li>

            {% if page_obj.has_next %}
            <li class="page-item">
                <a class="page-link" href="?page={{ page_obj.next_page_number }}" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                    <span class="sr-only">Next</span>
                </a>
            </li>
            {% endif %}
        </ul>
    </nav>
    {% endif %}
</div>
</div>

{% endblock %}