{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content %}

<main>
    <div class="container wow fadeIn">
        <h2 class="my-5 h2 text-center">Confirmar pedido</h2>
        <div class="row">
            <div class="col-md-8 mb-4">
                <div class="card">
                    <form method="POST" class="card-body">
                        {% csrf_token %}
                    </form>

                </div>

            </div>

            <div class="col-md-4 mb-4">
                {% include "order_snippet.html" %}
            </div>

        </div>

    </div>
</main>

{% endblock content %}

{% block extra_scripts %}

{% endblock extra_scripts %}