<footer class="fondo text-center text-white">
    <!-- Copyright -->
    <div class="text-center page-footer">
        <!-- Grid container -->
        <div class="container p-2 ">
            <!-- Section: Social media -->
            <section class="my-2">
                <!-- Facebook -->
                <a class="btn btn-primary btn-floating" style="background-color: #3b5998 !important;" href="#!"
                   role="button">
                    <i class="fab fa-facebook-f fa-lg"></i>
                </a>

                <!-- Instagram -->
                <a class="btn btn-primary btn-floating" style="background-color: #ac2bac !important;" href="#!"
                   role="button">
                    <i class="fab fa-instagram fa-lg"></i>
                </a>

                <!-- WhatsApp -->
                <a class="btn btn-primary btn-floating text-white" style="background-color: #25D366 !important;" href="#!"
                   role="button">
                    <i class="fab fa-whatsapp fa-lg"></i>
                </a>
            </section>
            <!-- Section: Social media -->
        </div>
        <!-- Grid container -->
        <p>Contacto: +569 4042 8450</p>
        © 2021 Copyright:
        <a class="text-white" href="">LavoMas.cl</a>
    </div>
    <!-- Copyright -->
</footer>