{% extends "base.html" %}
{% block content %}

{% load pwa %}

{% load static %}
<div class="container-fluid my-4 h-100">
    <div class="row">
        <div class="col">
            <div class="row">
                <div class="col-12 p-1 p-2 p-xl-4">
                    <!-- Listar Usuarios -->
                    <div class="card shadow-sm rounded">
                        <div class="card-header text-white bg-primary">
                            <h5 class="text-center font-weight-bold" style="margin: auto;">HISTORIAL DE VENTAS</h5>
                        </div>
                        <div class="table-responsive card-body pt-3">
                            <table class="table nowrap display table-hover p-0" style="width:100%"
                                   id="tabla_lista_de_productos">
                                <thead class="thead-table">
                                <tr>
                                    <th>#</th>
                                    <th>Fecha</th>
                                    <th>Total</th>
                                </tr>
                                </thead>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modal_detalle_venta" tabindex="-1" role="dialog" aria-labelledby="Label_detalle_venta"
     aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content ">
            <div class="modal-header modal-header-primary">
                <h5 class="modal-title" id="Label_detalle_venta">Detalle de venta #<span id="numero_venta"></span>
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-footer">
                <div class="table-responsive card-body p-1 pt-3">
                    <table class="table dt-responsive wrap display compact table-hover p-0" style="width:100%"
                           id="tabla_detalle_venta">
                        <thead class="thead-table">
                        <tr>
                            <th>Producto</th>
                            <th>Precio</th>
                            <th>Cantidad</th>
                            <th>Total</th>
                        </tr>
                        </thead>
                        <tfoot>
                        <tr>
                            <th colspan="4" style="text-align:right">Total:</th>
                        </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="{% static 'js/Jquery/jquery-3.4.1.min.js' %}"></script>
<script>
    $(document).ready(function () {
        let table = $("#tabla_lista_de_productos").DataTable({
            type: "GET",
            ordering: true,
            dataType: "json",
            info: false,
            serverSide: true,
            scrollY: "75vh",
            scrollCollapse: true,
            paging: false,
            select: "single",
            ajax: "/api/ventas/?format=datatables",
            columns: [{
                    "data": "id",
                    "searchable": true,
                    "className": "columna-texto",
                },
                {
                    "data": "fecha",
                    "searchable": true,
                    "className": "columna-texto",
                },
                {
                    "data": "precio_total",
                    "searchable": true,
                    "className": "columna-texto",
                },
            ],
            language: {
                url: "//cdn.datatables.net/plug-ins/1.10.19/i18n/Spanish.json"
            },
        }).on("select", function (e, dt, type, indexes) {
            let rowData = table.rows(indexes).data().toArray()
            $('#row-data').html(JSON.stringify(rowData));
            $('#modal_detalle_venta').modal('show')
            CargarDetalleVenta(rowData[0].id)

        }).on("deselect", function () {
            $('#row-data').empty();
        });


        function CargarDetalleVenta(id_venta) {
            $.ajax({
                url: "api/ventas/" + id_venta + "/?format=datatables",
                type: 'GET',
                beforeSend: function (xhr) {
                    xhr.setRequestHeader("X-CSRFToken", '{{ csrf_token }}');
                },
                success: function (data) {
                    $("#numero_venta").text(data.data.id)
                    var table_detalle = $("#tabla_detalle_venta").DataTable({
                        info: false,
                        responsive: true,
                        paging: false,
                        data: data.data.ventas,
                        destroy: "true",

                        columns: [{
                                "data": "nombre_producto",
                                "searchable": true,
                                "render": function (data, type, row) {
                                    return '<p class="text-uppercase">' + data +
                                        '</p>';
                                },
                                "className": "columna-texto",
                            },
                            {
                                "data": "precio",
                                "className": "columna-texto",
                                render: function (data, type, row) {
                                    return (Math.round(row.precio));
                                }
                            },
                            {
                                "data": "cantidad",
                                "className": "columna-texto",
                            },
                            {
                                "data": "total_detalle",
                                "className": "columna-texto",
                            }
                        ],
                        language: {
                            url: "//cdn.datatables.net/plug-ins/1.10.19/i18n/Spanish.json"
                        },
                        "footerCallback": function (row, data, start, end, display) {
                            total_detalle = row.precio * row.cantidad

                            var api = this.api(),
                                data;

                            console.log(data)

                            // Remove the formatting to get integer data for summation
                            var intVal = function (i) {
                                return typeof i === 'string' ?
                                    i.replace(/[\$,]/g, '') * 1 :
                                    typeof i === 'number' ?
                                    i : 0;
                            };

                            // Total over all pages
                            total = api
                                .column(3)
                                .data()
                                .reduce(function (a, b) {
                                    return intVal(a) + intVal(b);
                                }, 0);

                            // Total over this page
                            pageTotal = api
                                .column(3, {
                                    page: 'current'
                                })
                                .data()
                                .reduce(function (a, b) {
                                    return intVal(a) + intVal(b);
                                }, 0);

                            // Update footer
                            $(api.column(3).footer()).html(
                                '$' + pageTotal + ' ( $' + total + ' total)'
                            );
                        },
                    });
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    console.log('AJAX error:' + textStatus);
                }
            })
        }
    });



</script>
{% endblock %}