<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cerrar Sesion</title>
</head>
<body>
<h1>Gracias por su visita</h1>
<h4>Será redireccionado en breves momentos...</h4>
</body>

<script>
    setTimeout(() => {
        window.location.replace("{% url 'log_in' %}");
    }, 4000);
</script>
</html>