{% load static %}


<!doctype html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="{% static 'css/FontAwesome/all.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/Bootstrap/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/Bootstrap/mdb.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
    <link rel="shortcut icon" type="image/png" href="{% static 'img/icon/favicon.ico' %}" />

    <link href="https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap" rel="stylesheet">

    <title>Iniciar Sesion</title>
</head>

<body>
    <div class="container">
        {% if messages %}
        <div class="row">
            <div class="col-12">

                {% for message in messages %}
                <div class="alert alert-primary mt-4" role="alert">
                    {% if message.tags == 'success' %} class="alert alert-{{ message.tags }}" role="alert"
                    id="alertsuccess" {% endif %}

                    <strong>{{ message }}</strong>
                    <button aria-label="Close" class="close" data-dismiss="alert" type="button">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                {% endfor %}
            </div>
        </div>
        {% endif %}

        <div class="row">
            <div class="col">
                <div class="wrapper fadeInDown text-center">
                    <div id="formContent" class="py-5">
                        <div class="fadeIn first">
                            <div class="col">
                                <img src="{% static 'img/LavoMas.jpg' %}" class="img-fluid my-2 py-md-4"
                                    style="width: 250px" />
                            </div>
                        </div>

                        <!-- Login Form -->
                        <form method="POST" class="my-3 fadeIn second" action="{% url 'log_in' %}" id="form_login">
                            {% load crispy_forms_tags %}

                            {% csrf_token %}

                            {{ form.email_or_username|as_crispy_field }}
                            {{ form.password|as_crispy_field }}

                            <button type="submit" class="btn btn-success btn-submit fadeIn third my-2">Iniciar Sesion
                            </button>
                            <a href="{% url 'sign_up' %}"
                                class="btn btn-primary btn-submit fadeIn third my-2">Registrarse</a>
                            <a href="{% url 'index' %}" class="btn btn-outline-primary btn-submit fadeIn third my-2">Ver
                                catalogo</a>

                        </form>


                        <form action="{% url 'social:begin' 'facebook' %} ">
                            <button type="submit" class="btn btn-primary btn-submit fadeIn fourth">
                                <i class="fab fa-facebook fa-2x mt-1 mb-3"></i>
                                <p class="p-auto m-auto"> Continuar con Facebook</p>
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- Scripts -->
    <script src="{% static 'js/Jquery/jquery-3.4.1.min.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
    </script>
    <script src="{% static 'js/Bootstrap/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/Bootstrap/mdb.min.js' %}"></script>

</body>

</html>