<div class="col-md-12 mb-4">
    <h4 class="d-flex justify-content-between align-items-center mb-3">
    <span class="text-muted">Tu pedido</span>
    <span class="badge badge-secondary badge-pill">{{ orden.productos.count }}</span>
    </h4>
    <ul class="list-group mb-3 z-depth-1">
    {% for order_item in orden.productos.all %}
    <li class="list-group-item d-flex justify-content-between lh-condensed">
        <div>
        <h6 class="my-0">{{ order_item.cantidad }} x {{ order_item.producto.titulo_producto}}</h6>
        <small class="text-muted">{{ order_item.producto.descripcion_producto}}</small>
        </div>
        <span class="text-muted">{{ order_item.get_final_price }}</span>
    </li>
    {% endfor %}
    <li class="list-group-item d-flex justify-content-between">
        <span>Total (CLP)</span>
        <strong>{{ orden.get_total }}</strong>
    </li>
    </ul>


</div>