{% extends "base.html" %} {% block content %} {% load static %}
<div class="container my-3">
  <div class="row justify-content-center">
    <div class="col-4">
      <div class="text-center">
        <button class="btn btn-success py-2" data-mdb-toggle="modal" data-mdb-target="#modal_agregar_producto">
          Nuevo Producto <i class="fas fa-plus-circle"></i>
        </button>
      </div>
    </div>
    <div class="col-4">
      <div class="text-center">
        <button class="btn btn-primary py-2" data-mdb-toggle="modal" data-mdb-target="#modal_agregar_categoria"
          type="button">
          Nueva Categoria <i class="fas fa-plus-circle"></i>
        </button>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid my-2">
  <div class="row justify-content-center">
    <div class="col-12">
      <div class="card">
        <div class="card-header text-white bg-primary">
          <h5 class="text-center font-weight-bold" style="margin: auto">
            INVENTARIO
          </h5>
        </div>
        <div class="card-body table-responsive">
          <table id="lista_de_productos" class="table table-bordered">
            <thead class="table-light">
              <tr>
                <th>#</th>
                <th>Producto</th>
                <th>Precio</th>
                <th>Precio descuento</th>
                <th>Stock</th>
                <th>Categoria</th>
                <th>Opciones</th>
              </tr>
            </thead>
            <tbody>
              {% for p in productos %}
              <tr class="text-center table-bordered">
                <td style="width: 5%">{{ forloop.counter }}</td>
                <td class="p-0" style="width: 25%">
                  <a href="{{ p.get_absolute_url }}">
                    <div class="card border-0">
                      {% if p.imagen_producto %}
                      <img src="{{ p.imagen_producto.url }}" class="card-img-top rounded-0" />
                      {% else %}
                      <img src="{% static 'img/no-disponible.png' %}" class="card-img-top" />
                      {% endif %}
                      <div class="card-body bg-primary text-white rounded-0">
                        <p class="card-title h5">{{ p.titulo_producto }}</p>
                      </div>
                    </div>
                  </a>
                </td>
                <td style="width: 10%">{{ p.precio }}</td>
                <td style="width: 10%">{{ p.precio_descuento }}</td>
                <td style="width: 10%">{{ p.stock }}</td>
                <td style="width: 15%">
                  <button type="button" class="btn btn-primary btn-sm">
                    {{ p.categoria }}
                  </button>
                </td>
                <td>
                  <button class="btn btn-primary mx-2 p-1" type="button" data-mdb-toggle="modal"
                    data-mdb-target="#modal_modificar_producto" href="#" onclick="return cargar_producto({{ p.pk }});">
                    Modificar
                  </button>
                  <button class="btn btn-danger mx-2 p-1" onclick="return cargar_eliminar_producto({{ p.pk }});"
                    data-mdb-toggle="modal" data-mdb-target="#modal_confirmar_eliminar" href="#">
                    Eliminar
                  </button>
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

<!--Modal de Creacion de Producto -->
<div aria-hidden="true" aria-labelledby="modal_agregar_producto" class="modal fade" id="modal_agregar_producto"
  role="dialog" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered modal-xl">
    <div class="modal-content">
      <div class="modal-header modal-header-primary">
        <h5 class="modal-title" id="">Agregar un nuevo Producto</h5>
        <button type="button" class="btn-close" data-mdb-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form action="" id="form_agrega_producto" method="post" enctype="multipart/form-data">
          {% csrf_token %}
          <div class="form-group row">
            <div class="col-12 my-2 text-center">
              <img src="{% static 'img/no-disponible.png' %}" alt="" class="img-thumbnail"
                id="imagen_producto_muestra_crear" width="300px" />
            </div>
            <div class="col-12 my-2">
              <label for="titulo_producto">Titulo Producto</label>
              <input class="form-control" id="titulo_producto" name="titulo_producto" placeholder="" required
                type="text" />
            </div>
            <div class="col-12 my-2">
              <label for="descripcion_producto">Descripcion Producto</label>
              <textarea class="form-control" id="descripcion_producto" name="descripcion_producto" placeholder=""
                required></textarea>
            </div>
            <div class="col-12 col-lg-6 my-2">
              <label for="precio">Precio</label>
              <input class="form-control" id="precio" name="precio" placeholder="" required type="number" />
            </div>
            <div class="col-12 col-lg-6 my-2">
              <label for="precio_descuento">Precio descuento</label>
              <input class="form-control" id="precio_descuento" name="precio_descuento" placeholder="" required
                type="number" />
            </div>
            <div class="col-12 col-lg-6 my-2">
              <label for="stock">Stock</label>
              <input class="form-control" id="stock" name="stock" placeholder="" required type="number" />
            </div>
            <div class="col-12 col-lg-6 my-2">
              <label for="categoria">Categoria</label>
              <select class="browser-default custom-select form-control" id="categoria" name="categoria" required>
                <option value="" disabled selected>--Seleccione--</option>
                {% for categoria in categorias %}
                <option value="{{categoria.pk}}">
                  {{categoria.nombre_categoria}}
                </option>
                {% endfor %}
              </select>
            </div>
            <div class="col-12 col-lg-6 my-2">
              <label for="label">Labels</label>
              <select class="browser-default custom-select form-control" id="label" name="label" required>
                <option value="" disabled selected>--Seleccione--</option>
                {% for label in labels %}
                <option value="{{label.0}}" class="text-black bg-{{label.1}}">
                  {{label.1}}
                </option>
                {% endfor %}
              </select>
            </div>
            <div class="col-12 col-lg-6 my-2">
              <label for="imagen">Imagen</label>
              <input type="file" class="form-control-file" id="imagen" name="imagen" />
            </div>
          </div>

          <div class="modal-footer">
            <button class="btn btn-danger" data-mdb-dismiss="modal" type="button">
              Cancelar
            </button>
            <button class="btn btn-primary" type="submit">Crear</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<!--Modal de modificar Producto -->
<div aria-hidden="true" aria-labelledby="modal_modificar_producto" class="modal fade" id="modal_modificar_producto"
  role="dialog" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered modal-xl">
    <div class="modal-content">
      <div class="modal-header modal-header-primary">
        <h5 class="modal-title">Modificar Producto</h5>
        <button type="button" class="btn-close" data-mdb-dismiss="modal" aria-label="Close"></button>
      </div>

      <div class="modal-body">
        <form action="" id="form_modificar_producto" method="post" enctype="multipart/form-data">
          {% csrf_token %}
          <div class="form-group row">
            <div class="col-12 my-2 text-center">
              <img src="" alt="" class="img-thumbnail" id="imagen_producto_muestra" width="300px" />
            </div>
            <input type="hidden" name="modificar_id_producto" value="" id="modificar_id_producto" />
            <div class="col-12 my-2">
              <label for="modificar_titulo_producto">Titulo Producto</label>
              <input class="form-control" id="modificar_titulo_producto" name="modificar_titulo_producto" placeholder=""
                required type="text" />
            </div>
            <div class="col-12 my-2">
              <label for="modificar_descripcion_producto">Descripcion Producto</label>
              <textarea class="form-control" id="modificar_descripcion_producto" name="modificar_descripcion_producto"
                placeholder="" required></textarea>
            </div>
            <div class="col-12 col-lg-6 my-2">
              <label for="modificar_precio">Precio</label>
              <input class="form-control" id="modificar_precio" name="modificar_precio" placeholder="" required
                type="number" />
            </div>
            <div class="col-12 col-lg-6 my-2">
              <label for="modificar_precio_descuento">Precio descuento</label>
              <input class="form-control" id="modificar_precio_descuento" name="modificar_precio_descuento"
                placeholder="" required type="number" />
            </div>
            <div class="col-12 col-lg-6 my-2">
              <label for="modificar_stock">Stock</label>
              <input class="form-control" id="modificar_stock" name="modificar_stock" placeholder="" required
                type="number" />
            </div>
            <div class="col-12 col-lg-6 my-2">
              <label for="modificar_categoria">Categoria</label>
              <select class="browser-default custom-select form-control" id="modificar_categoria"
                name="modificar_categoria" required>
                <option value="" disabled selected>--Seleccione--</option>
                {% for categoria in categorias %}
                <option value="{{categoria.pk}}">
                  {{categoria.nombre_categoria}}
                </option>
                {% endfor %}
              </select>
            </div>
            <div class="col-12 col-lg-6 my-2">
              <label for="modificar_label">Labels</label>
              <select class="browser-default custom-select form-control" id="modificar_label" name="modificar_label"
                required>
                <option value="" disabled selected>--Seleccione--</option>
                {% for label in labels %}
                <option value="{{label.0}}" class="text-black bg-{{label.1}}">
                  {{label.1}}
                </option>
                {% endfor %}
              </select>
            </div>
            <div class="col-12 col-lg-6 my-2">
              <label for="modificar_imagen">Imagen</label>
              <input type="file" class="form-control-file" id="modificar_imagen" name="modificar_imagen" />
            </div>
          </div>
          <div class="modal-footer">
            <button class="btn btn-danger" data-mdb-dismiss="modal" type="button">
              Cancelar
            </button>
            <button class="btn btn-primary" type="submit">Modificar</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- Modal Eliminar Producto-->
<div class="modal fade" id="modal_confirmar_eliminar" tabindex="-1" role="dialog"
  aria-labelledby="Label_confirmar_eliminar" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header modal-header-primary">
        <h5 class="modal-title" id="Label_confirmar_eliminar">
          ¿Eliminar Producto?
        </h5>
        <button type="button" class="btn-close" data-mdb-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-footer">
        <form action="" id="form_eliminar_producto" method="post">
          {% csrf_token %}
          <input type="hidden" name="id_producto_eliminar" id="id_producto_eliminar" />
          <button type="button" class="btn btn-danger" data-mdb-dismiss="modal">
            Cancelar
          </button>
          <button type="submit" class="btn btn-primary">Aceptar</button>
        </form>
      </div>
    </div>
  </div>
</div>

<!--Modal de Creacion de Categoria -->
<div class="modal fade" id="modal_agregar_categoria" tabindex="-1" role="dialog"
  aria-labelledby="Label_modal_agregar_categoria" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header modal-header-primary">
        <h5 class="modal-title" id="">Agregar nueva Categoria</h5>
        <button type="button" class="btn-close" data-mdb-dismiss="modal" aria-label="Close"></button>
      </div>
      <form action="" id="form_agrega_categoria" method="post" class="m-0">
        {% csrf_token %}

        <div class="modal-body">
          <div class="form-group row">
            <div class="col-12 my-2">
              <label for="nombre_categoria">Nombre de nueva Categoria</label>
              <input class="form-control" id="nombre_categoria" name="nombre_categoria" placeholder="" required
                type="text" />
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-mdb-dismiss="modal">
            Cancelar
          </button>
          <button class="btn btn-primary" type="submit">Crear</button>
        </div>
      </form>
    </div>
  </div>
</div>


{% endblock %}