{% extends "base.html" %}
{% block content %}

{% load static %}

<main class="mt-5 pt-4">
    <div class="container dark-grey-text mt-5">
        <!--Grid row-->
        <div class="row wow fadeIn">
            {% if object.imagen_producto %}
            <!--Grid column-->
            <div class="col-md-6 mb-4">
                <img src="{{ object.imagen_producto.url }}" class="img-fluid"
                     alt="">
            </div>
            <!--Grid column-->
            {% else %}
            <!--Grid column-->
            <div class="col-md-6 mb-4">
                <img src="{% static 'img/no-disponible.png' %}" class="img-fluid"
                     alt="">
            </div>
            <!--Grid column-->
            {% endif %}

            <!--Grid column-->
            <div class="col-md-6 mb-4">
                <!--Content-->
                <div class="p-4">
                    <div class="mb-3">
                        <a href="">
                            <span class="badge bg-primary p-2">{{ object.categoria }}</span>
                        </a>
                    </div>
                    <p class="lead">
                        {% if object.discount_price %}
                        <span class="mr-1">
                <del>{{ object.price }}</del>
              </span>
                        <span>{{ object.precio_descuento }}</span>
                        {% else %}
                        <span>{{ object.precio }}</span>
                        {% endif %}
                    </p>
                    <p class="lead font-weight-bold">Descripción</p>
                    <p>{{ object.descripcion_producto }}</p>
                    {% comment %}
                    <form class="d-flex justify-content-left">
                        <!-- Default input -->
                        <input type="number" value="1" aria-label="Search" class="form-control" style="width: 100px">
                        <button class="btn btn-primary btn-md my-0 p" type="submit">
                            Añadir a la cesta
                            <i class="fas fa-shopping-cart ml-1"></i>
                        </button>
                    </form>
                    {% endcomment %}
                    <a href="{{ object.get_add_to_cart_url }}" class="btn btn-primary btn-md my-0 p">
                        Añadir a la cesta
                        <i class="fas fa-shopping-cart ml-1"></i>
                    </a>
                    <a href="{{ object.get_remove_from_cart_url }}" class="btn btn-danger btn-md my-0 p">
                        Eliminar de la cesta
                    </a>
                </div>
                <!--Content-->
            </div>
            <!--Grid column-->
        </div>
        <!--Grid row-->
        <hr>
        <!--Grid row-->
        <div class="row d-flex justify-content-center wow fadeIn">
            <!--Grid column-->
            <div class="col-md-6 text-center">
                <h4 class="my-4 h4">Información adicional</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus suscipit modi sapiente illo soluta
                    odit
                    voluptates,
                    quibusdam officia. Neque quibusdam quas a quis porro? Molestias illo neque eum in laborum.</p>
            </div>
            <!--Grid column-->
        </div>
        <!--Grid row-->
        <!--Grid row-->
        <div class="row wow fadeIn">
            <!--Grid column-->
            <div class="col-lg-4 col-md-12 mb-4">
                <img src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Products/11.jpg" class="img-fluid"
                     alt="">
            </div>
            <!--Grid column-->
            <!--Grid column-->
            <div class="col-lg-4 col-md-6 mb-4">
                <img src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Products/12.jpg" class="img-fluid"
                     alt="">
            </div>
            <!--Grid column-->

            <!--Grid column-->
            <div class="col-lg-4 col-md-6 mb-4">
                <img src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Products/13.jpg" class="img-fluid"
                     alt="">
            </div>
            <!--Grid column-->

        </div>
        <!--Grid row-->

    </div>
</main>
<script src="{% static 'js/Jquery/jquery-3.4.1.min.js' %}"></script>
{% endblock %}