{% extends "base.html" %}
{% block content %}

{% load pwa %}

{% load static %}
<div class="container my-3">
    <div class="row">
        <div class="col-12">
            <!-- Pills navs -->
            <ul class="nav nav-pills nav-fill mb-3" id="ex1" role="tablist">
                <li class="nav-item" role="presentation">
                    <a class="nav-link active" id="ex2-tab-1" data-mdb-toggle="pill" href="#ex2-pills-1" role="tab"
                       aria-controls="ex2-pills-1" aria-selected="true">Boleta</a>
                </li>
                <li class="nav-item" role="presentation">
                    <a class="nav-link" id="ex2-tab-3" data-mdb-toggle="pill" href="#ex2-pills-3" role="tab"
                       aria-controls="ex2-pills-3" aria-selected="false">Factura</a>
                </li>
            </ul>
            <!-- Pills navs -->
        </div>
    </div>
</div>
<div class="container-fluid my-3">
    <!-- Pills content -->
    <div class="tab-content" id="ex2-content">
        <div class="tab-pane fade show active" id="ex2-pills-1" role="tabpanel" aria-labelledby="ex2-tab-1">
            <div class="row">
                <div class="col-12 col-lg-6 my-1 p-2">
                    <div class="card">
                        <div class="card-header text-white bg-primary">
                            <h5 class="text-center font-weight-bold" style="margin: auto;">PRODUCTOS</h5>
                        </div>
                        <div class="card-body table-responsive">
                            <table class="table " style="width:100%;"
                                   id="lista_de_productos_boleta">
                                <thead class="thead-table">
                                <tr>
                                    <th></th>
                                    <th>Producto</th>
                                    <th>Precio</th>
                                    <th>Stock</th>
                                </tr>
                                </thead>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-lg-6 my-1 p-2">
                    <div class="card">
                        <div class="card-header text-white bg-primary">
                            <h5 class="text-center font-weight-bold" style="margin: auto;">CAJA</h5>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive tableFixHead">
                                <table class="table table-hover wrap" id="tabla_ventas_boleta">
                                    <thead>
                                    <tr>
                                        <th></th>
                                        <th>Nombre</th>
                                        <th>Cantidad</th>
                                        <th>Precio</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    </tbody>
                                </table>
                                <table class="table table-bordered table-light border" id="table_total_venta_boleta">
                                    <tbody class="text-center">
                                    <tr>
                                        <th>SubTotal</th>
                                        <td><span id="subtotal_boleta">$0</span></td>
                                    </tr>
                                    <tr>
                                        <th class="font-weight-bold">Total</th>
                                        <td class="font-weight-bold"><span id="venta_total_boleta">$0</span></td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="py-3 my-2 text-center border-top">
                            <button class="btn btn-primary" id="btnLimpiarCajaBoleta">Limpiar Caja</button>
                            <button class="btn btn-success" data-toggle="modal"
                                    data-target="#modal_confirmar_venta">
                                Completar
                                Venta
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="tab-pane fade" id="ex2-pills-3" role="tabpanel" aria-labelledby="ex2-tab-3">
            <div class="row">
                <div class="col-12 col-lg-6 my-1 p-2">
                    <div class="card">
                        <div class="card-header text-white bg-primary">
                            <h5 class="text-center font-weight-bold" style="margin: auto;">PRODUCTOS</h5>
                        </div>
                        <div class="card-body table-responsive">
                            <table class="table " style="width:100%;"
                                   id="lista_de_productos">
                                <thead class="thead-table">
                                <tr>
                                    <th></th>
                                    <th>Producto</th>
                                    <th>Precio</th>
                                    <th>Stock</th>
                                </tr>
                                </thead>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-lg-6 my-1 p-2">
                    <div class="card">
                        <div class="card-header text-white bg-primary">
                            <h5 class="text-center font-weight-bold" style="margin: auto;">CAJA</h5>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive tableFixHead">
                                <table class="table table-hover wrap" id="tabla_ventas">
                                    <thead>
                                    <tr>
                                        <th></th>
                                        <th>Nombre</th>
                                        <th>Cantidad</th>
                                        <th>Precio</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    </tbody>
                                </table>
                                <table class="table table-bordered table-light border" id="table_total_venta">
                                    <tbody>
                                    <tr>
                                        <th>SubTotal</th>
                                        <td><span id="subtotal">$0</span></td>
                                    </tr>
                                    <tr>
                                        <th>IVA</th>
                                        <td><span id="total_iva">$0</span></td>
                                    </tr>
                                    <tr>
                                        <th class="font-weight-bold">Total</th>
                                        <td class="font-weight-bold"><span id="venta_total">$0</span></td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="py-3 my-2 text-center border-top">
                            <button class="btn btn-primary" id="btnLimpiarCaja">Limpiar Caja</button>
                            <button class="btn btn-success" data-toggle="modal"
                                    data-target="#modal_confirmar_venta">
                                Completar
                                Venta
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Pills content -->
</div>

<div class="modal fade" id="modal_confirmar_venta" tabindex="-1" role="dialog" aria-labelledby="Label_confirmar_venta"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header modal-header-primary">
                <h5 class="modal-title" id="Label_confirmar_venta">¿Confirmar Venta?</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-footer">
                <form action="" id="form_confirmar_venta" method="post">
                    {% csrf_token %}
                    <input type="hidden" id="input_user" value="{{ request.user }}" readonly>
                    <input type="hidden" id="input_subtotal" value="" readonly>
                    <input type="hidden" id="input_venta_iva" value="" readonly>
                    <input type="hidden" id="input_total" value="" readonly>
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
                    <button type="submit" class="btn btn-primary">Aceptar
                    </button>
                </form>

            </div>
        </div>
    </div>
</div>
<script src="{% static 'js/Jquery/jquery-3.4.1.min.js' %}"></script>
<script src="{% static 'js/punto_de_venta.js' %}" type="text/javascript"></script>
<script src="{% static 'js/punto_de_venta_boleta.js' %}" type="text/javascript"></script>

{% endblock %}