{% extends "base.html" %}
{% load static %}

{% block content %}

<link href="{% static 'css/resumen_orden.css' %}" rel="stylesheet" />
<div class="container my-4">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header text-white bg-primary">
                    <h5 class="text-center font-weight-bold" style="margin: auto;">Resumen del pedido</h5>
                </div>
                <div class="card-body table-responsive">
                    <table class="table table-bordered text-center">
                        <thead class="table-bordered table-light">
                            <tr>
                                <td scope="col">#</td>
                                <td scope="col">Producto</td>
                                <td scope="col">Precio</td>
                                <td scope="col">Cantidad</td>
                                <td scope="col">Precio total producto</td>
                                <td scope="col"></td>
                            </tr>
                        </thead>
                        <tbody>
                            {% for order_item in object.productos.all %}
                            <tr class="border-bottom-0">
                                <td scope="row">{{ forloop.counter }}</td>
                                <td class="p-0" style="width: 20%">
                                    <a href="{{ order_item.producto.get_absolute_url }}">
                                        <div class="card rounded-0">
                                            {% if order_item.producto.imagen_producto %}
                                            <img src="{{ order_item.producto.imagen_producto.url }}"
                                                class="card-img-top rounded-0">
                                            {% else %}
                                            <img src="{% static 'img/no-disponible.png' %}" class=" card-img-top">
                                            {% endif %}
                                            <div class="card-body bg-primary text-white rounded-0">
                                                <p class="card-title h5">{{ order_item.producto.titulo_producto }}</p>
                                            </div>
                                        </div>
                                    </a>
                                </td>
                                <td>{{ order_item.producto.precio }}</td>
                                <td>
                                    <a href="{% url 'remove-single-item-from-cart' order_item.producto.slug %}"><i
                                            class="fas fa-minus mr-2"></i></a>
                                    {{ order_item.cantidad }}
                                    <a href="{% url 'add-to-cart' order_item.producto.slug %}"><i
                                            class="fas fa-plus ml-2"></i></a>
                                </td>
                                <td>
                                    {% if order_item.producto.precio_descuento %}
                                    {{ order_item.get_total_discount_item_price }}
                                    <span class="badge badge-primary">Ahorra {{ order_item.get_amount_saved }}</span>
                                    {% else %}
                                    {{ order_item.get_total_item_price }}
                                    {% endif %}
                                </td>
                                <td>
                                    <a style='color: red;' href="{% url 'remove-from-cart' order_item.producto.slug %}">
                                        <i class="fas fa-trash fa-lg"></i>
                                    </a>
                                </td>
                            </tr>
                            {% empty %}
                            <tr class="border-bottom-0">
                                <td colspan='6'>Su carro está vacío</td>
                            </tr>
                            <tr class="border-bottom-0">
                                <td colspan="6">
                                    <a class='btn btn-primary float-right' href='/'>Seguir comprando</a>
                                </td>
                            </tr>
                            {% endfor %}
                            {% if object.get_total %}
                            <tr class="table-light">
                                <td colspan="4"><b>Total</b></td>
                                <td>{{ object.get_total }}</td>
                                <td></td>
                            </tr>
                            <tr class="table-light">
                                <td colspan="6">
                                    <a class='btn btn-success float-right ml-2' href='/checkout/'>Realizar pedido</a>
                                    <a class='btn btn-primary float-right' href='/'>Seguir comprando</a>
                                </td>
                            </tr>
                            {% endif %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}