{% load static %}
<!-- Jquery -->
<script type="text/javascript" src="{% static 'js/Jquery/jquery-3.6.0.min.js' %}"></script>
<!-- Bootstrap core JavaScript
<script type="text/javascript" language="JavaScript" src="{% static 'js/Bootstrap 5/bootstrap.bundle.min.js' %}"></script>
-->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/js/bootstrap.min.js">
</script>

<!-- MDB core JavaScript -->
<script type="text/javascript" src="{% static 'js/MDB5/mdb.min.js' %}"></script>
<!-- Jquery Validate -->
<script language="JavaScript" src="{% static 'js/Jquery/jquery.validate.min.js' %} " type="text/javascript"></script>

<script language="JavaScript" type="text/javascript"
        src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.19.1/js/mdb.min.js"></script>

<script language="JavaScript"
        src="{% static 'js/DataTables/http_cdn.datatables.net_v_bs4_dt-1.10.21_b-1.6.2_cr-1.5.2_fc-3.3.1_fh-3.1.7_r-2.2.5_sc-2.0.2_sl-1.3.1_datatables.js' %}"
        type="text/javascript"></script>
<script language="JavaScript" src="{% static 'js/DataTables/dataTables.responsive.min.js' %}" type="text/javascript">
</script>
<script language="JavaScript" src="{% static 'js/DataTables/responsive.bootstrap4.min.js' %}" type="text/javascript">
</script>
<script language="JavaScript" src="{% static 'js/Lightbox/lightbox.min.js' %}" type="text/javascript"></script>

<script language="JavaScript" src="{% static 'js/admin_productos.js' %}" type="text/javascript"></script>