html {
    font-size: 1rem;
    height: 100%;
    font-family: 'Roboto-Regular', 'Roboto', 'sans-serif';
}

header {
    height: auto;
}

body {
    background: #ffffff;
    font-family: 'Open Sans', sans-serif;
    height: 100%;
    background-color: #eee;
}

@media screen and (max-width: 768px) {
    body {
        padding-top: 0px;
    }
}

.fondo {
    background: #fbfbff;
}

.badge-primary {
    background-color: #007bba !important;
}

.btn-primary,
.bg-primary {
    background-color: #007bba !important;
}

.table tr th {
    text-align: center;
}

.columna-texto {
    text-align: center;
    vertical-align: middle;
    height: auto;
}

.card-header {
    vertical-align: middle;
}

.columna-imagen {
    text-align: center;
}

.dtr-details {
    width: 100%;
}

table.dataTable tbody td {
    text-align: center;
    vertical-align: middle;
    height: auto;
    padding: 5px;
}

table.dataTable tbody td p {
    margin: 0;
}

th.dt-center,
td.dt-center {
    text-align: center;
}

/* --- --- MODALS --- --- */
.modal-header-primary {
    background-color: #428bca;
}

.modal-header-danger {
    background-color: #d9534f;
}

.modal-header-primary,
.modal-header-danger {
    color: #fff;
    padding: 9px 15px;
    border-bottom: 1px solid #eee;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

a.nav-link {
    display: flex;
    align-items: center;
}

.navbar-dark .navbar-nav .nav-link {
    color: hsla(0, 0%, 100%, .70);
}

.navbar-dark .navbar-nav b {
    color: hsla(0, 0%, 100%);
}

/* Footer color for sake of consistency with Navbar */
.page-footer {
    background-color: #007bba;
}


/* --- --- MEDIAQUERIES --- --- */
/* Small devices (landscape phones, 576px and up) */
@media (max-width: 576px) {

    table,
    table p {
        word-wrap: break-word;
        font-size: 0.8rem;
    }

    table .btn {
        font-size: 10px;
    }

    .logo {
        width: 70px;
    }


    .carousel-inner {
        max-height: 230px;
    }
}

/* Medium devices (tablets, 768px and up) The navbar toggle appears at this breakpoint */
@media (min-width: 576px) and (max-width: 768px) {
    .logo {
        width: 100px;
    }

    .carousel-inner {
        max-height: 460px;
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 768px) and (max-width: 992px) {
    .logo {
        width: 90px;
    }

}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 992px) and (max-width: 1200px) {
    .logo {
        width: 90px;
    }

    .carousel-inner {
        max-height: 600px;
    }
}

@media screen and (min-width: 1199px) {
    .logo {
        width: 90px;
    }

    .carousel-inner {
        max-height: 600px;
    }
}

@media (min-width: 576px) {
    .card-columns {
        column-count: 2;
        column-gap: 1.25rem;
    }
}

@media (min-width: 768px) {
    .card-columns {
        column-count: 3;
        column-gap: 1.25rem;
    }

}

@media (min-width: 992px) {
    .card-columns {
        column-count: 4;
    }

}

@media (min-width: 1200px) {
    .card-columns {
        column-count: 4;
    }
}

.carousel.carousel-fade .carousel-item {
    display: block;
    opacity: 0;
    transition: opacity ease-out .7s;
}

.carousel.carousel-fade .carousel-item.active {
    opacity: 1 !important;
}