
html {
    font-size: 1rem;
    height: 100%;
}

.table-hover tbody tr:hover td {
    background: aqua;
}

body {
    background: #ffffff;
    font-family: 'Roboto-Regular', 'Roboto','sans-serif';
    height: 100%;
    background-color: #eee;
    padding-top: 80px;
}
.fondo {
    background: #fbfbff;
}

.badge-primary {
    background-color: #007bba !important;
}

.btn-primary, .bg-primary {
    background-color: #007bba !important;
}

.barra-lateral {
    background: #007bba;
    color: #fff;
    min-width: 150px;
    padding: 0;
}

.barra-lateral a {
    color: #fff;
}


/* --- LOGO --- */

.barra-lateral .logo {
    background: #0275db;
    margin-bottom: 2px;
}


/* --- MENU --- */

.barra-lateral .menu a {
    display: block;
    padding: 20px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    border-bottom: 1px solid rgba(255, 255, 255, .1);
}

.barra-lateral .menu a:hover {
    background: #00a9e2;
}

.activo {
    background: #35ae6b;
}

#imagen_producto_muestra {
    height: 150px;
}

#imagen_producto_muestra_crear {
    height: 150px;
}


/* --- --- MAIN --- --- */


table .img-producto {
    width: 60px;
    height: 40px;
}


tr.selected td:before {
    color: #CCC;
}


.table tr th {
    text-align: center;
}

.columna-texto {
    text-align: center;
    vertical-align: middle;
    height: auto;
}

.card-header{
    vertical-align: middle;
}

.columna-imagen {
    text-align: center;
}

.dtr-details {
    width: 100%;
}

table.dataTable tbody td {
    text-align: center;
    vertical-align: middle;
    height: auto;
    padding: 5px;
}

table.dataTable tbody td p {
    margin: 0px;
}

th.dt-center, td.dt-center {
    text-align: center;
}


/* --- --- MODALS --- --- */
.modal-header-primary {
    color: #fff;
    padding: 9px 15px;
    border-bottom: 1px solid #eee;
    background-color: #428bca;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.modal-header-danger {
    color: #fff;
    padding: 9px 15px;
    border-bottom: 1px solid #eee;
    background-color: #d9534f;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}


/* --- --- MEDIAQUERIES --- --- */
/* Small devices (landscape phones, 576px and up) */
@media (max-width: 576px) {
    table, table p {
        word-wrap: break-word;
    }

    .table .img-producto  {
        width: 40px;
        height: 40px;
    }

    .barra-lateral .menu a {
        display: inline-block;
        border-bottom: none;
    }

    .logo {
        width: 50px;
    }
}

/* Medium devices (tablets, 768px and up) The navbar toggle appears at this breakpoint */
@media (min-width: 576px) and (max-width: 767.98px) {
    .barra-lateral .menu a {
        display: inline-block;
        border-bottom: none;
    }

    .logo {
        width: 100px;
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
    .barra-lateral .menu a {
        display: inline-block;
        border-bottom: none;
    }

    body {
        padding-top: 150px;
    }

    .logo {
        width: 100px;
    }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {
    .barra-lateral .menu a {
        display: inline-block;
        border-bottom: none;
    }

    body {
        padding-top: 150px;
    }

    .logo {
        width: 100px;
    }
}


@media screen and (min-width: 1199px) {
    .barra-lateral .menu a span {
        display: none;
    }

    body {
        padding-top: 150px;
    }

    .barra-lateral .menu a i {
        margin: 0;
    }

    .logo {
        width: 100px;
    }
}

.barra-lateral {
    min-height: auto;
}

#tabla_ventas td {
    text-align: center;
    vertical-align: middle;
}


#tabla_ventas td {
    text-align: center;
    vertical-align: middle;
}